{% extends 'base.html' %}

{% block title %}ORDERS{% endblock %}

{% block title2 %}СПИСОК ЗАКАЗОВ:{% endblock %}

{% block content %}
<section class="center">
    {% for order in orders %}
    <h5>{{ order.client.name }}</h5>
    <article>
        <h3>Заказ #{{ order.pk }} от {{ order.date_ordered }}</h3><br>
        <h4>Товары:</h4>
        <ul>
            {% for order_item in order.order_items.all %}
            <li>{{ order_item.product.name }} - Цена: {{ order_item.product.price }} - Количество: {{ order_item.quantity }}</li>
            {% endfor %}
        </ul>
        <h4>Итоговая сумма: {{ order.total_price }}</h4>
        <br><br>
        # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
        <br><br>
    </article>
    {% endfor %}
</section>
{% endblock %}