{% extends 'base.html' %}

{% block title %}PRODUCTS{% endblock %}

{% block content_header %}
    <a class="content__header__link" href="#"><p>[+] Добавить товар</p></a>
{% endblock %}

{% block title2 %}СПИСОК ТОВАРОВ:{% endblock %}

{% block content %}
<section class="center content__area">
    {% for product in products %}
    <article class="products">
        <p class="item__title">#{{ product.pk }} {{ product.name }}</p>
        <p class="item__paragraph">Запас: {{ product.stock }} шт</p>
        <p class="item__paragraph">{{ product.price }} рублей</p>
        <img class="item__img" src="{{ product.img.url }}" alt="{{ product.name }} image">
        
        <p class="item__text">{{ product.description }}</p><br>
        
        <a class="item__link" href="{% url 'add_image' product.pk %}"><p>Загрузить изображение</p></a>
        <a class="item__link" href="#"><p>Изменить товар</p></a>
        <a class="item__link" href="#"><p>Удалить товар</p></a>
    </article>
    {% endfor %}
</section>

{% endblock %}