{% extends 'base.html' %}

{% block title %}CUSTOMERS{% endblock %}


{% block content_header %}
    <a class="content__header__link" href="#"><p>Добавить покупателя</p></a>
    <a class="content__header__link" href="#"><p>Удалить покупателя</p></a>
{% endblock %}

{% block title2 %}СПИСОК ПОКУПАТЕЛЕЙ:{% endblock %}


{% block content %}
<section class="center customers__area">
    {% for customer in customers %}
    <article>
        <h3>#{{ customer.pk }} {{ customer.name }}</h3>
        <h5>{{ customer.email }}</h5>
        <h5>age: {{ customer.age }}</h5><br>
        
        <a class="default__link" href="{% url 'week_orders' customer.pk %}"><p>Заказы за неделю</p></a>
        <a class="default__link" href="{% url 'month_orders' customer.pk %}"><p>Заказы за месяц</p></a>
        <a class="default__link" href="{% url 'year_orders' customer.pk %}"><p>Заказы за год</p></a>
    </article>
    {% endfor %}
</section>
{% endblock %}