{% extends 'base.html' %}

{% block title %}CUSTOMERS{% endblock %}


{% block title2 %}СПИСОК ПОЛЬЗОВАТЕЛЕЙ:{% endblock %}


{% block content %}
<section class="center customers__area">
    {% for customer in customers %}
    <article>
        <h3>#{{ customer.pk }} {{ customer.name }}</h3>
        <h4>Age: {{ customer.age }}</h4>
        <h4>E-mail: {{ customer.email }}</h4>
        <a class="default__link" href="{% url 'week_orders' customer.pk %}">Заказы за неделю</a><br>
        <a class="default__link" href="{% url 'month_orders' customer.pk %}">Заказы за месяц</a><br>
        <a class="default__link" href="{% url 'year_orders' customer.pk %}">Заказы за год</a><br>
        <br>
    </article>
    {% endfor %}
</section>
{% endblock %}