{% extends 'base.html' %}

{% block title %}PRODUCTS{% endblock %}

{% block content %}
<section class="center">
    <h2>Список товаров:</h2><br><br>
    {% for product in products %}
    <article>
        <h3>#{{ product.pk }} {{ product.name }}</h3>
        <img src="{{ product.img.url }}" alt="{{ product.name }} image">
        <h4>Цена: {{ product.price }} рублей</h4>
        <h4>Запас: {{ product.stock }} шт</h4>
        <h4>Описание: {{ product.description }}</h4>
        <a href="{% url 'add_image' product.pk %}">Сменить/загрузить изображение</a><br><br>
        <br>
    </article>
    {% endfor %}
</section>

{% endblock %}