{% extends 'base.html' %}


{% block title %}DJANGO{% endblock %}


{% block title2 %}WELCOME{% endblock %}



{% block content %}
<section class="center content__area">
    <article class="tasks">
        <p class="item__title">Django. Seminar 4. Homework</p>
        <br>

        <p class="item__paragraph">Команды для работы с БД:</p>
        <p class="item__text">python manage.py fill-db 20 10 (Заполнить БД фейковыми данными (например, 20 фейковых пользователей, 10 фейковых заказов и случайное количество заказов))</p>
        <br>

        <p class="item__paragraph">Задание </p>
        <p class="item__text">- Изменить модель продукта, добавьте поле для хранения фотографии продукта</p>
        <p class="item__text">- Создать форму, которая позволит сохранять фото</p>
        <br>

        <a class="item__link" href="/homework4/"><p>Перейти к списку товаров</p></a>
    </article>

    <article class="tasks">
        <p class="item__title">Django. Seminar 3. Homework</p>
        <br>

        <p class="item__paragraph">Команды для работы с БД:</p>
        <p class="item__text">python manage.py fill-db 20 10 (Заполнить БД фейковыми данными (например, 20 фейковых пользователей, 10 фейковых заказов и случайное количество заказов))</p>
        <br>

        <p class="item__paragraph">Задание </p>
        <p class="item__text">- Продолжаем работать с товарами и заказами</p>
        <p class="item__text">- Создайте шаблон, который выводит список заказанных клиентом товаров из всех его заказов с сортировкой по времени</p>
        <p class="item__text">- *Товары в списке не должны повторятся</p>
        <br>

        <a class="item__link" href="/homework3/"><p>Перейти к списку покупателей</p></a>
    </article>
</section>
   

{% endblock %}