{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{% block title %}Django{% endblock %}</title>
</head>

<body>
    <br>
    <header class="main__header">
        
        <nav class="menu__box">
            <div class="nav__logo">
                <p>DJANGO_HOMEWORK</p>
            </div>
            <div class="nav__menu">
                <a class="menu__item" href="/">
                    <p>ГЛАВНАЯ</p>
                </a>
                <a class="menu__item" href="/homework3">
                    <p>ПОКУПАТЕЛИ</p>
                </a>
                <a class="menu__item" href="/homework4">
                    <p>ТОВАРЫ</p>
                </a>
            </div>
        </nav>
    </header>



    <main>
        <header class="center content__header__box">
        {% block content_header %} # # # # # # #{% endblock %}
        </header>

        <h2 class="center title2" >
            {% block title2 %}Заголовок страницы{% endblock %}
        </h2>

        <div class="main__content">
            {% block content %}Здесь будет наполнение{% endblock %}
        </div>
    </main>

</body>