* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(228, 229, 224, 1);
    padding-bottom: 64px;
}

.center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
}

.main__header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgba(64, 72, 74, 1);

    
}

a {
    text-decoration: none;
}

.menu__box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    text-decoration: none;
    color: rgba(228, 229, 224, 1);
    font-weight: 300;
    font-size: 20px;
    transition: all .3s;
}
.menu__item:hover {
    color: rgba(228, 229, 224, .7);
}
.menu__item:active {
    scale: .9;
}


.content__header__box {
    margin-top: 8vh;
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

.content__header__link {
    text-decoration: none;
    color: rgba(109, 48, 56, .99);
    font-size: 16px;
    font-weight: 600;
    transition: all .3s;
}

.title2 {
    font-weight: 500;
    margin-bottom: 32px;
    margin-top: 48px;
}


.default__link p {
    text-decoration: none;
    color: rgba(109, 48, 56, .99);
    font-size: 16px;
    font-weight: 600;
    transition: all .3s;
}
.default__link:hover p{
    color: rgba(109, 48, 56, .8);
}
.default__link:active p{
    scale: .95;
}

.customers__area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.customers__area article{
    width: 256px;
    padding: 16px;
    background-color: rgba(64, 72, 74, .3);
    box-shadow: 15px 25px 60px -5px rgba(64, 72, 74, .2);
}